

/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
/* font-family: 'Montserrat', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap');
/* font-family: 'Fraunces', serif; */


/* Style  */
html, body {
  margin: 0;
  padding: 0;
}

main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(30, 38%, 92%);
}


/* Product Card */
.card {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 42vw;
  height: 58vh;
}


/* Left side */
.left {
  /* grid-area: left; */
}

.desktop-img {
  background-image: url("./images/image-product-desktop.jpg");
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px 0 0 10px;
}


/* Right side */
.right {
  padding: 30px;
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 100%);
  border-radius: 0 10px 10px 0;
}

  /* Product info */
  .p-category {
    font-family: 'Montserrat', sans-serif;
    color: hsla(228, 12%, 48%, 0.75);
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 5px;
  }

  .p-title {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 10px;
  }

  .p-description {
    display: flex;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: hsla(228, 12%, 48%, 0.75);
    font-weight: 500;
    line-height: 25px;
  }

  /* Price body */
  .p-price-row {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }

    .p-main-price {
      font-family: 'Fraunces', serif;
      font-size: 32px;
      color: hsl(158, 36%, 37%);
    }

    .p-old-price {
      font-family: 'Montserrat', sans-serif;
      color: hsla(228, 12%, 48%, 0.75);
      font-weight: 500;
      font-size: 13px;
      text-decoration: line-through;
      padding-left: 20px;
    }

  /* Button */
  #btn {
    font-family: 'Montserrat', sans-serif;
    background-color: hsl(158, 36%, 37%);
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    color: hsla(0, 0%, 100%, 0.8);
    padding: 14px;
    border-radius: 5px;
    margin-top: 20px;
    text-decoration: none;
  }

    .cart-icon {
      text-align: center;
      padding-right: 10px;
      color: hsla(0, 0%, 100%, 0.8);
    }


/* Mobile */
@media only screen and (max-width: 600px) {
  .desktop-img {
    background-image: url("./images/image-product-mobile.jpg");
    height: 400px;
  }
}
